* {
    font-family: Verdana;
    font-size: 10pt;
}

/* h1 {
    color: maroon;
    font-size: 40px;
} */

body {
    background: powderblue;
}
  
h1 {
    color: darkslategrey;
    font-size: 2em;
    padding-top: 10px;
    width: 100%;
}

.sidebar {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: white;
    overflow-x: hidden;
    padding: 8px 0;
  }

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: darkslategrey;
    display: block;
}

.sidebar a:hover {
    color: #064579;
}

main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    /*/font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}