* {
    font-family: Verdana;
    font-size: 10pt;
}

/* h1 {
    color: maroon;
    font-size: 40px;
} */

body {
    background: powderblue;
    margin: 0;
    padding: 5;
}
  
h1 {
    color: darkslategrey;
    font-size: 2em;
    padding-top: 10px;
    width: 100%;
}

